@font-face {
  font-family: arciform;
  src: url(./fonts/Arciform.otf);
}
* {
  font-family: arciform;
}
html, body {
  margin: 0;
  font-family: arciform;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3D3D3D;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
